---
layout: page
---



<div>
  <p>
    Written by: <i>{{author}}</i>
  </p>
  <p>
  Last edited on: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </p>
</div>

<article class="prose lg:prose-lg">
  {{ content | safe }}
</article>

{%- if collections.articles %}
{%- set nextPost = collections.articles | getNextCollectionItem(page) %}
{%- set previousPost = collections.articles | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<div class="lg:text-lg py-8">
<hr>
  <ul>
    {%- if nextPost %}<li>Next: <a class="link" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    {%- if previousPost %}<li>Previous: <a class="link" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    <li><a href="/articles" class="link">See all articles</a></li>
  </ul>
</div>
{%- endif %}
{%- endif %}


