<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->

    <!-- Recommended -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="generator" content="Eleventy" />

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/favicon-16x16.png' | url }}"
    />
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}" />

    <title>{{ title or metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/site.css' | url }}" />
  </head>
  <div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/examples">Examples</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/our-team">Our Team</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl" href="/">
      <span class="text-secondary-content lowercase mr-1">useful</span><span class="text-base-content lowercase">patches</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li><a href="/examples">Examples</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/our-team">Our Team</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn" href="/contact">Contact</a>
  </div>
</div>


  <body class="font-sans leading-normal tracking-normal text-gray-900">
    {{ content | safe }}
  </body>
</html>
